<div class="content__title">
new post
</div>

<%= form_with model: @post, class: :form, local: true do |form| %>
  <%= form.text_field :title, placeholder: :title, class: :form__title %>
  <%= form.text_area :content, placeholder: :write, class: :form__text %>
  <label><%=form.file_field :image, class: :"input-box__image__file" %>ファイルを選択</label>
  <%= form.submit 'SEND', class: :form__btn %>
<% end %>